<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorWheel.Controls" version="1.7.14.51712" targetFramework="net40" />
  <package id="MahApps.Metro" version="0.14.0.0" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.3.0.0" targetFramework="net452" />
  <package id="SharpVectors" version="1.0" targetFramework="net40" />
</packages>